---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

I am interested in the intersection of reliability, life cycle cost estimation, and machine learning. Specifically, I use applied machine leaning methods to predict system failure. I have researched the tradespace exploration and subsystem reliability investment models to reduce lifecycle operational and support cost for rotorcrafts. I have also developed new cost-based metrics and framework to assess Li-ion battery prognostics.

My work has been published in  Research in Engineering Design Journal, International Journal of Reliability, Quality and Safety Engineering, American Helicopter Society, and IEEE Annual Reliability and Maintainability Symposium, and in Massachusetts Department of Transportation.


{% include base_path %}

{% for post in site.research reversed %}
  {% include archive-single.html %}
{% endfor %}
